<html>
    <head>
        <title>Anna's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Best Blog in the World</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Hellooooooooooooooooooo</a></h2>
            <p>Woooooooooooooooooooooooo.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Blablabla.</p>
        </div>
    </body>
</html>